.card {
    position: relative;
    width: 440px;
    background-color: var(--color-dark-blue);
    border-radius: 1.25rem;
    overflow: hidden;
    border: 1px solid transparent;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 30px rgba(93, 93, 93, 0.2);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(66, 82, 161, 0.1), transparent);
    transition: left 0.5s;
}

.card:hover::before {
    left: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1.25rem 0.75rem 1.25rem;
    background-color: var(--color-dark-blue);
    border-bottom: 1px solid #ffffff1a;
}

.header h3 {
    display: flex;
    gap: 1rem;
}

.projectDescription {
    font-size: var(--font-size-sm);
    color: var(--color-grey);
    padding: 0.5rem 1.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
    height: 50px;
}

.icon {
    color: var(--color-grey);
    cursor: pointer;
}

.body {
    display: flex;
    padding: 1rem 1.25rem 1.25rem;
    gap: 1.5rem;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.stat p {
    color: var(--color-grey);
    font-size: var(--font-size-xs);
}

.menuContainer {
    position: relative;
}
